
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: aliceblue;
  
}
.head{
  position: static;
}
.background {
  background-color: #1a2b3b;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  
  
}
.navbar {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  
  top: 0;
  z-index: 2;
  height: 70px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: aliceblue;
  background-blend-mode: darken;
  background-size: cover;
  width: 100%;
  
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
  margin-right: 8%;
  
}
.logo img {
  border-radius: 50px;
  width: 60px;
  cursor: pointer;
  
}
.nav-list {
  display: flex;
  align-items: center;
  
  width: 50%;
}
.nav-list li a {
  list-style: none;
  text-decoration: none;
  color: rgb(14, 2, 72);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 4px;
  
}
.nav-list li a:hover { 
  color: rgba(0, 0, 0, 0.912);
  border-bottom: 2.3px solid;
  border-color: rgb(3, 3, 67);
  border-radius: 3px;
  transition: 0.1s ease-out;
}
.nav-list li {
  padding: 24px 18px;
  list-style: none;
  
}

#popupBtn {
  
  width: fit-content;
  list-style: none;
  text-decoration: none;
  background-color:#1a2b3b;
  align-items: center;
  flex-direction: row-reverse;
  padding: 12px 12px;
  margin-right: 18px;
  border-radius: 7px;
  
  z-index: 999;
  list-style: none;
  text-decoration: none;
  color: rgb(252, 239, 250);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#popupBtn:hover {
  background: linear-gradient(45deg, #e67e22, #e74c3c);
  border:none;
  
  display: block;
}

.dropdown-content a:active {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.firstSection {
  height: 85vh;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  align-items: center;
}
.main-box {
  display: flex;
  justify-items: center;
  height: 50%;
  width: fit-content;
  
  flex-direction: column;
  align-items: center;
}

.fade-in {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  color: aliceblue;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fade-in img{
  width:13%;
  padding: 0%;
  margin: 0px;
  
}
.text-big {
  
  font-size: 470%;
  font-family: Arial, Helvetica, sans-serif;
  animation: fade-in 2s;
  font-weight: 600;
}

.text-small {
  font-size: 23px;
  
  padding: 0px 0px 20px 0px;
  animation: fade-in 1s;
  font-family: "Kumbh Sans", sans-serif;
  font-weight:200;
  
}
.button {
  width: fit-content;
  padding: 18px 35px;
  margin-top: 30px;
  
  border-radius: 50px;
  background: none;
  color: rgb(241, 233, 233);
  border: 2px solid rgb(247, 242, 242);
  font-size: 16px;
  cursor: pointer;
  animation: fade-in 3s;
  transition: all 0.3s;
  font-weight: 200;
  position: relative;
  text-align: center;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.burger{
  display:none;
  position:absolute;
  cursor: pointer;
  right: 5%;
  top:15px;
}
.line{
  width: 33px;
  background-color: black;
  height:4px;
  margin:5px 5px;
}
.discript-one{
  
  margin-top: -4rem;
  display:flex;
  flex-direction: row;
  background-color: aliceblue;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.discript-one img{
  margin-left: 3.5%;
  margin-top: 70px;
  width:560px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.discript-two{
  display: flex;
  flex-direction: column;
  margin-top: 205px;
  margin-left: 80px;
}
.discript-two h4{
  font-family: "Kumbh Sans", sans-serif ;
  font-size: 65px ;
  font-weight:500 ;
  color: rgb(112, 27, 192);
  margin-right: 5.2%;
}
.discript-two h5{
  font-family: "Kumbh Sans", sans-serif ;
  font-size: 30px ;
  margin-left: 4px;
  margin-top: 20px;
  font-weight: 400;
  color: rgb(112, 27, 192);
  margin-right: 5.2%;
}
.discript-two p{
  font-family: "Kumbh Sans", sans-serif ;
  font-size: 20px ;
  margin-left: 4px;
  margin-top: 40px;
  font-weight: 250;
  color: rgb(112, 27, 192);
  margin-right: 5.2%;

}
.initiatives {
 margin-left:4%;
 font-size:30px;
}
.initiatives h4{
  font-family: "Kumbh Sans", sans-serif ;
  font-size:68px;
  color: rgb(95, 24, 162);
  font-weight: 400;
  padding-top: 120px;
}
.initiatives p  {
  font-family: "Kumbh Sans", sans-serif ;
  font-size:25px;
  color: rgb(112, 27, 192);
  font-weight: 200;
  
}


.initiative-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px 100px 0px ;
  margin-left:4%;
  margin-right:4%;
  border-bottom: 2px solid  rgb(100, 20, 175);
  padding-right: 8%;
}
.initiative-1 h5{
  
  font-size: 40px;
  font-family: "Kumbh Sans", sans-serif;
  color: rgb(95, 24, 162);
  font-weight: 350;
}
.initiative-1 p, p1{
  
  font-size: 15px;
  font-family: "Kumbh Sans", sans-serif;
  color: rgb(112, 27, 192);
  font-weight: 400;

}
.initiative-1 p1{
  font-weight: 500;
  
}
.r-row{
  width: 50%;
}
.i-2 {
 padding-right: 98px;
}
.i-1{
  padding-top: 60px;
}
footer{
  background-color:#1a2b3b;
  margin-top: 50px;
}
.footer-box{
  display: flex;
  flex-direction: row;
  height: 38vh;
  color: white;
  justify-content: space-between;
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
}
.footer-box h3{
  font-size: 30px;
  

}
.footer-box h4{
  font-size: 25px;
  

}
.first-c{
  width: 17%;
  margin-top: 50px;
  margin-left: 60px;
}
.first-c p{
  margin-top: 18px;
}
.second-c{
  width: 35%;
  margin-top: 58px;
  margin-left: 50px;
}
.third-c{
  width: 35%;
  margin-top: 58px;
  margin-left: 20px;
}

@media only screen and (max-width: 959px){
  .nav-list{
    flex-direction: column;
    transition: 0.5s ease-out;
  }
  .logo{
    display :none;
  }
  #popupBtn{
    justify-content: center;
    margin: 0;
    transition: 0.3s ease-out;
    margin-bottom: 3px;
  }
  
  .navbar{
    flex-direction: column;
    height: 238px;
    transition: all 0.2s ease-out;
    align-items: center;
  }
  .firstSection {
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .burger{
    display: block;
  }
  .h-nav-resp{
    height: 68.8px;
  }
  .v-class-resp{
    opacity:0;
    pointer-events: none;
    transition: none;
  }
  .discript-one-resp{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -35rem;
  }
  .discript-two-resp{
    margin-left:2%;
    padding: 15px;
    
  }
  .discript-one-resp img{
    
    margin-left: 0px;
    margin-top: 26px;
    padding: 15px;
    width:90%;
    border-radius: 40px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

  }
  .popupBtn-resp{
    display: block;
  }
}
@media only screen and (max-height : 400px){
  .discript-one-resp{
    margin-top: 1rem;
  }
}